.m-0 {
  gap: 6px;
}

table img {
  display: flex;
  align-items: center;
  width: 30px;
  border-radius: 50%;
}

.data-info table img,
.data-name {
  display: flex;
  align-items: center;
}

.dataset-info .m-0 {
  font-size: 20px;
}

.table-container {
  margin: auto;
  width: 90%;
  padding: 20px 20px;
  background-color: white;
  border-radius: 13px;
}
