/* ----- Dashboard ----- */

.dashboard {
  background-color: rgb(244, 242, 242);
  flex: 1 0 10%;
  color: rgb(83, 83, 83);
}

.top-header {
  display: flex;
  align-items: center;
  font-size: 75%;
  gap: 12px;
  line-height: 6pt;
  color: rgb(83, 83, 83);
  margin-top: 1.2rem;
  width: 100%;
}

.header-icon {
  font-size: 23px;
  color: rgb(249, 178, 46);
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.06);
  margin-left: 12px;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  gap: 12px;
  font-size: 62.5%;
  margin-right: 1.2rem;
}

.notification-window-message {
  font-size: 1rem;
  padding: 1.5rem;
}

.timeline-widget {
  padding: 20px 30px;
  background-color: white;
  width: 40%;
}

.timeline-widget-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hamburger-icon {
  font-size: 1.5rem;
}

.timeline-widget > .timeline-widget-header > h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time-icon {
  font-size: 143%;
  color: rgb(249, 178, 46);
}

.appointment-title,
.appointment-notify {
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.appointments {
  display: flex;
  align-items: center;
  line-height: 2rem;
  gap: 1.5rem;
}

.vl {
  border-left: 6px solid rgb(207, 204, 204);
  border-radius: 34px;
  height: 63.5px;
}

.appointment-disc {
  color: green;
  font-size: medium;
}

.appointments-disc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appointment-subtitle,
.appointment-time {
  font-size: 75%;
}

.widgets {
  display: flex;
  align-items: center;
}

.overview-widgets {
  padding: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card-widgets {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
}

@media (max-width: 84em) {
  .dashboard {
    max-width: 90%;
  }
  .overview-widgets {
    gap: 1.2rem;
    height: auto;
  }
  .card-widgets {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    height: 280px;
  }
}

@media (max-width: 69em) {
  .dashboard {
    max-width: 83%;
  }
  .overview-widgets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 0.5rem;
  }
  .card-widgets {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    height: 240px;
  }
}

@media (max-width: 62em) {
  .dashboard {
    max-width: 80%;
  }
  .overview-widgets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 0.5rem;
  }
  .card-widgets {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    height: 240px;
  }
}

@media (max-width: 44em) {
  .dashboard {
    max-width: 90%;
  }
  .top-header-text {
    font-size: 80%;
  }
  .overview-widgets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    gap: 0.5rem;
  }
  .card-widgets {
    display: flex;
    justify-content: flex-start;
    gap: 1.2rem;
    height: 240px;
  }
}

@media (max-width: 40em) {
  .dashboard {
    max-width: 90%;
  }
  .top-header-text {
    font-size: 70%;
  }
  .overview-widgets {
    gap: 0.5rem;
  }
  .card-widgets {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.2rem;
    height: 240px;
  }
}
