/* ----- Nav ------ */

nav {
  position: relative;
  height: 100vh;
  background-color: rgb(63, 63, 156);
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 170px;
}

.links-list {
  position: absolute;
  left: -1rem;
  list-style: none;
  padding: 10px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 1.2rem;
  gap: 0.6rem;
  width: 118%;
}

.links-list > li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
  padding: 8px 6px;
  width: 100%;
}

.links-list > li:hover {
  background-color: rgb(72, 72, 183);
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.links-list > span {
  margin-left: 0.5rem;
  width: 100%;
}

nav .logo-container,
nav .controls-container {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

nav .logo-container img {
  width: 120px;
}

.people-divider,
.company-divider {
  display: flex;
  margin-right: 7rem;
  margin-top: 1rem;
  color: rgb(222, 219, 219);
  text-transform: uppercase;
  font-size: 11px;
}

.account-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

nav .icon {
  color: rgb(255, 255, 255);
}

nav .account-container {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 14px;
  margin-left: 15px;
}

nav .account-container img {
  width: 40px;
  border-radius: 25px;
}

nav .menu-btn {
  background: none;
  color: rgb(255, 255, 255);
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
