* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(244, 242, 242);
}

html {
  font-size: 62.5%;
}

.app {
  display: grid;
  grid-template-columns: 17rem 1fr;
  grid-auto-flow: column;
  font-size: 2rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

a:visited {
  color: rgb(253, 253, 253);
}

/* ----- Dropdown Menu ----- */

a {
  color: var(--text-color);
  text-decoration: none;
}

.primaryBtn {
  margin: 20px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

.forwarded,
.active,
.delivered,
.blocked {
  display: flex;
  text-transform: uppercase;
}

@media (max-width: 57em) {
  .app {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5rem;
  }
}
