.error {
  color: red;
  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: width 2s;
}

.notification {
  color: green;
  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: width 2s;
}
